INITIAL_BALANCE=1_000_000
NB_INITIAL_WALLET=1024

EPOCH=1000

WS_ADDRESS=
WALLET_ADDRESS=
WALLET_PRIVATE_KEY=
CIRCUIT_1_ADDRESS=''
CIRCUIT_2_ADDRESS=''
CIRCUIT_4_ADDRESS=''
CIRCUIT_8_ADDRESS=''
CIRCUIT_16_ADDRESS=''
CIRCUIT_32_ADDRESS=''
CIRCUIT_64_ADDRESS=''
CIRCUIT_128_ADDRESS=0
CIRCUIT_256_ADDRESS=0
CIRCUIT_512_ADDRESS=0
CIRCUIT_1024_ADDRESS=0
CIRCUIT_2048_ADDRESS=0
CIRCUIT_4096_ADDRESS=0
CIRCUIT_8192_ADDRESS=0
CIRCUIT_16384_ADDRESS=0
ROLLUP_ADDRESS=''
